<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title th:text="${title}">新規投稿</title>
	<link th:href="@{/assets/css/diary.css}" rel="stylesheet">
	<link th:href="@{/webjars/AdminLTE/3.2.0/dist/css/adminlte.min.css}" rel="stylesheet">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
	<div th:fragment="diary_post">
		<header>
			<h2>Add New Member</h2>
			<nav id="menu" class="menu" style>
				<ul>
					<li>
						<a th:href="@{/}">Back</a>
					</li>
				</ul>
			</nav>

			<div class="area area-diary deco-bg">
				<form class="form-block">
					<dt style="margin-top: 20px;">名前</dt>
					<dd><input type="text" name="name" th:value="*{name}"></dd>
					<p th:if="${#fields.hasErrors('name')}" th:errors="*{title}" style="color: red" class="error">
					</p>

					<dt style="margin-top: 20px;">ふりがな</dt>
					<dd><input type="text" name="furigana" th:value="*{furigana}" id="text"></textarea></dd>
					<p th:if="${#fields.hasErrors('furigana')}" th:errors="*{furigana}" style="color: red" class="error">
					</p>

					<button type="submit" style="margin-top: 20px;">Regist</button>
				</form>
			</div>
</body>

</html>